body {
    background-color: #F5F5F5;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 5%;
}

table {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 40px;
}


hr {
    border-style: dotted hidden hidden hidden;
    border-width: 10px;
    border-color: #3FC1C9;
    width: 10%;
    margin: 50px auto;
}

h1,
h3 {
    color: #FC5185;
}

h4 {
    color: #4D455D;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

.top{
    text-align: center;
}

.link {
    display: block;
    line-height: 150%;
}

.skills {
    width: 170px;
}